* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
    background-color: #201f1f;
    color: black;
    font-family: monospace;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 20px;
  }
  
  h1 {
    background-color: white;
    border-color: #3399cc;
    border-radius: 5px;
    border-width: 6px;
    border-style: solid;
    
    margin-bottom: 20px;
    padding: 5px;
  }

  .user-selection {
    width: 50px;
    height: 50px;
  }

  .messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #bfbfbf;
  }
  
  .messageContainer * {
    margin-right: 5px;
  }

  ul {
    margin-bottom: 80px;
  }
  
  li {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      background-color: white;
      border-color: #3399cc;
      border-radius: 5px;
      border-width: 6px;
      border-style: solid;
      
      margin-bottom: 20px;
      padding: 5px;      
  }
  
  li img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
  }